# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# PYTHON
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# ANACONDA / CONDA
# ==========================
.anaconda/
conda-meta/

# ==========================
# VSCODE / IDE
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# LOGS
# ==========================
*.log

# ==========================
# ENVIRONMENTS (LOCAL)
# ==========================
.venv/
venv/
env/
ENV/

node_modules/