# ==========================
# DJANGO CORE
# ==========================
SECRET_KEY=django-insecure-super-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# ==========================
# DATABASE
# ==========================
DATABASE_URL=postgresql://vis_user:secret@localhost:5432/vis_vitalis_db

# ==========================
# CORS
# ==========================
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ==========================
# PAYMENT (para Factory futura)
# ==========================
PAYMENT_PROVIDER=stripe
PAYMENT_API_KEY=test_key_123

# ==========================
# SUPABASE (Auth)
# ==========================
# La URL pública de tu proyecto Supabase (ej: https://xyzcompany.supabase.co)
SUPABASE_URL=
# La anon/public key 
SUPABASE_ANON_KEY=