# ==========================
# DJANGO CORE
# ==========================
SECRET_KEY=django-insecure-super-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# ==========================
# DATABASE 
# ==========================
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# ==========================
# CORS
# ==========================
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ==========================
# PAYMENT (para Factory futura)
# ==========================
PAYMENT_PROVIDER=stripe
PAYMENT_API_KEY=test_key_123