# ==========================
# ENV VARIABLES
# ==========================
.env
.env.*
!.env.example

# ==========================
# PYTHON
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# VIRTUAL ENVIRONMENTS
# ==========================
.venv/
venv/
env/
ENV/
.anaconda/
conda-meta/

# ==========================
# DJANGO
# ==========================
db.sqlite3
*.sqlite3
media/
staticfiles/
# Compilados gettext (se generan con compilemessages en build/deploy)
locale/**/LC_MESSAGES/*.mo

# ==========================
# IDE / EDITORS
# ==========================
.vscode/
.idea/
*.swp
*.swo
.ruff_cache/

# ==========================
# LOG FILES
# ==========================
*.log

# ==========================
# OS FILES
# ==========================
.DS_Store
Thumbs.db